.RightSide{
    display: flex;
    flex-direction: column;
    /* padding-top: 1rem; */
    width: 95%;
    justify-content: space-evenly;
    margin-left: 1rem;
}
.RightSide h2,h3{
    color: white;
}

@media screen and (max-width: 1200px) {
    .RightSide{
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
        
        margin-left: 0rem;
    }
    .RightSide>div{
        justify-content: center;
        align-items: center;
        width: 80%;
       
    }
    .RightSide h2,h3{
        text-align: center;
    }
}

@media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
        justify-content: space-evenly;
    }
    .RightSide>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .RightSide h2{
        text-align: center;
    }
}

